.contact-section{
    background:transparent;
    padding:100px 10%;
    color:white;
    min-height:100vh;
    position:relative;
    z-index:1;
}

.contact-section h2{
    text-align:center;
    font-size:52px;
    margin-bottom:60px;
    color:#fff;
}

.contact-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:60px;
    align-items:start;
}

/* Left Card */

.contact-info{
    background:#171d35;
    padding:40px;
    border-radius:20px;
    border:1px solid rgba(255,255,255,.08);
    transition:.4s;
}

.contact-info:hover{
    transform:translateY(-8px);
    box-shadow:0 0 30px rgba(57,189,248,.25);
}

.contact-info h3{
    font-size:34px;
    color:#39bdf8;
    margin-bottom:25px;
}

.contact-info p{
    color:#d1d5db;
    line-height:1.8;
    margin-bottom:35px;
}

.info{
    margin-bottom:25px;
}

.info strong{
    display:block;
    font-size:18px;
    margin-bottom:8px;
}

.info span{
    color:#cbd5e1;
    font-size:17px;
}

/* Social Buttons */

.social-links{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    margin-top:35px;
}

.social-links a{
    display:flex;
    justify-content:center;
    align-items:center;

    width:130px;
    height:48px;

    text-decoration:none;
    background:#39bdf8;
    color:#fff;

    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.social-links a:hover{
    background:#fff;
    color:#111;
    transform:translateY(-4px);
}

/* Form */

.contact-form{
    display:flex;
    flex-direction:column;
    gap:22px;
}

.contact-form input,
.contact-form textarea{

    width:100%;

    background:#171d35;
    color:#fff;

    border:none;
    outline:none;

    padding:18px;

    border-radius:12px;

    font-size:17px;

    transition:.3s;
}

.contact-form input:focus,
.contact-form textarea:focus{

    box-shadow:0 0 0 2px #39bdf8;
}

.contact-form textarea{
    resize:none;
}

.contact-form button{

    height:58px;

    background:#39bdf8;
    color:#fff;

    border:none;
    border-radius:12px;

    font-size:19px;
    font-weight:600;

    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover{

    background:#fff;
    color:#111;

    transform:translateY(-3px);
}

/* Responsive */

@media(max-width:900px){

    .contact-section{
        padding:80px 7%;
    }

    .contact-container{
        grid-template-columns:1fr;
        gap:40px;
    }

    .contact-section h2{
        font-size:40px;
    }

    .social-links{
        justify-content:center;
    }

    .social-links a{
        width:120px;
    }
}