.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:90px 10%;

    position:relative;
    z-index:1;

    background:transparent;

    color:#fff;

    overflow:hidden;
}

/* LEFT */

.hero-left{
    width:55%;
}

.hello{
    color:#39bdf8;
    font-size:22px;
    margin-bottom:18px;
    letter-spacing:1px;
}

.hero-left h1{
    font-size:72px;
    font-weight:800;
    line-height:1.1;
    margin-bottom:15px;
}

.hero-left h1 span{

    background:linear-gradient(
        135deg,
        #7b61ff,
        #39bdf8
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

}

.hero-left h2{

    font-size:34px;

    color:#39bdf8;

    margin-bottom:12px;

    min-height:45px;

}

.sub-heading{

    color:#cbd5e1;

    font-size:22px;

    margin-bottom:28px;

}

.desc{

    max-width:650px;

    color:#cbd5e1;

    line-height:1.9;

    font-size:19px;

    margin-bottom:38px;

}

/* BUTTONS */

.buttons{

    display:flex;

    gap:18px;

    flex-wrap:wrap;

}

.resume,

.hero-contact{

    height:58px;

    padding:0 30px;

    border-radius:14px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    font-size:17px;

    font-weight:600;

    transition:.35s;

}

.resume{

    background:#39bdf8;

    color:#fff;

    text-decoration:none;

}

.resume:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(57,189,248,.4);

}

.hero-contact{

    background:transparent;

    color:#39bdf8;

    border:2px solid #39bdf8;

    cursor:pointer;

}

.hero-contact:hover{

    background:#39bdf8;

    color:white;

}

/* SOCIAL */

.social-links{

    display:flex;

    gap:18px;

    margin-top:35px;

}

.social-links a{

    width:55px;

    height:55px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:23px;

    color:#39bdf8;

    background:rgba(255,255,255,.06);

    border:1px solid rgba(255,255,255,.08);

    transition:.35s;

    text-decoration:none;

}

.social-links a:hover{

    background:#39bdf8;

    color:white;

    transform:translateY(-8px);

    box-shadow:0 10px 25px rgba(57,189,248,.45);

}

/* RIGHT */

.hero-right{

    width:40%;

    display:flex;

    justify-content:center;

}

.hero-right img{

    width:400px;

    height:400px;

    object-fit:cover;

    border-radius:50%;

    border:5px solid #39bdf8;

    box-shadow:

    0 0 40px rgba(57,189,248,.45),

    0 0 80px rgba(57,189,248,.25);

    animation:float 5s ease-in-out infinite;

}

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-18px);
}

100%{
transform:translateY(0);
}

}

/* Typing */

.typing-text{

    color:#39bdf8;

    min-height:45px;

}

/* Tablet */

@media(max-width:992px){

.hero{

flex-direction:column-reverse;

text-align:center;

gap:60px;

}

.hero-left,

.hero-right{

width:100%;

}

.hero-left h1{

font-size:56px;

}

.hero-left h2{

font-size:30px;

}

.desc{

margin:auto;

margin-bottom:35px;

}

.buttons,

.social-links{

justify-content:center;

}

.hero-right img{

width:320px;

height:320px;

}

}

/* Mobile */

@media(max-width:576px){

.hero{

padding:70px 7%;

}

.hero-left h1{

font-size:42px;

}

.hero-left h2{

font-size:24px;

}

.sub-heading{

font-size:17px;

}

.desc{

font-size:16px;

}

.buttons{

flex-direction:column;

}

.resume,

.hero-contact{

width:100%;

}

.hero-right img{

width:250px;

height:250px;

}

}